{% extends '!layout.html' %}

{% block footer %}
<!--  the stuff above here makes your pages work regularly -->
<!--  the stuff below here puts javascript on all of the pages -->

<script>
    // this section is javascript, not HTML evn though it's in the HTML file
    let slideIndex = 0;
    let slides = document.getElementsByClassName("slide");
    let slideTime = 5000;
    // var slideInterval = setInterval(showSlides, slideTime);
    // clearInterval(slideInterval);

    // if (slides.length > 0 ){
    //     showSlides();
    // }

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("slide");
        // console.log('in')
        // console.log(slides.length)
        // console.log(slideIndex)

        let dots = document.getElementsByClassName("dot");